@font-face {
  font-family: PT Sans;
  src: url(/Desktop_layout/PTSans-Regular.ttf);
}
@font-face {
  font-family: PTSerif;
  src: url(/Desktop_layout/PTSerif-Regular.ttf);
}
body {
  font-family: PTSerif;
}
.grid {
  display: grid;
  grid-template-columns: 20% 30% 45%;
  grid-auto-rows: 30%;
  gap: 1em;
  margin-top: 5%;
  width: 95%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35%;
}
img {
  width: 100%;
  height: 100%;
}
.header_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: PT Sans;
  color: #fff;
  font-size: 2em;
}
.text-under-photo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}
.box {
  position: relative;
  background-color: cornflowerblue;
  font-size: 10em;
  text-align: center;
  color: #fff;
}
.childBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article {
  text-align: center;
}
.img3 {
  grid-column: 3;
  grid-row: 3/5;
}

.footer {
  margin-top: 30%;
  display: flex;
  width: 96%;
  height: 680px;
  margin-left: 2%;
  margin-right: 2%;
}
#h1-footer-text {
  font-size: 5em;
}
.footer-text {
  flex: 40%;
  text-align: left;
  margin-right: 2%;
}
.footer-img {
  flex: 30%;
}

.footer-h1 {
  position: relative;
}
.h1 {
  position: absolute;
  bottom: 10px;
  right: 30%;
  left: 43%;
  margin-top: 2%;
  font-size: xx-large;
  font-family: PT Sans;
}
